[MASTER]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    unused-argument,
    too-few-public-methods,
    too-many-return-statements

[DESIGN]
    max-args=6
    max-positional-arguments=6
